<script>


$(document).ready(function(){
    $(".welcome-h1 .rotate").textrotator({
animation: "dissolve",
speed: 8000
})
})
</script>

<div class="login-body">
<div class="login-body-bg"></div>

<div class="form-card">


<h1 class="welcome-h1"><span class= "rotate">Welcome, ようこそ</span></h1>

<%= form_with url: session_path, class: "sign-in-container", local: true do |f| %>

    <%= f.label :full_name %>
    <%= f.text_field :full_name, placeholder: "名前と苗字" %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "パスワード" %>
    <br>
    <%= button_tag(type: 'submit', class: "sign-in-btn", "data-hover" => "提出する", "data-active" => "I'M ACTIVE") do %>
        <span class="icon-envelope">Submit</span>
    <% end %>
<% end %>
</div>
</div>