<h1 class="text-center">Edit User</h1>


<div class="container d-flex flex-sm-column flex-md-row justify-content-center py-5">

  <div class="px-5">
    <%= form_with(model: @user, local: true) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
        
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <% if current_user.is_admin? %>
      <div class="form-group">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :is_admin %>
        <%= form.check_box :is_admin, class: "form-control" %>
      </div>

      <% else %>
      <span><%= current_user.full_name %> </span>
      <% end %>
      
      <div class="form-group d-flex flex-row">
      <%= form.label :nationality %>
      <%= form.select :nationality, [['Canadian'], ['Japanese'], ['Other']], :class => "form-control" %>
    </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      </div>
    
    
      <div class="form-group">
        <%= form.label :phone %>
        <%= form.text_field :phone, class: "form-control" %>
      </div>
    
      <div class="form-group d-flex flex-row">
        <%= form.label :rsvp %>
        <%= form.select :rsvp, [['No Response', 0], ['Attending', 1], ['Not Attending', 2]], :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :allergies %>
        <%= form.text_field :allergies, class: "form-control" %>
      </div>

      <div class="actions text-center">
      <%= form.submit class: "btn-maroon"%>
    </div>
    <% end %>
  </div>
</div>

<% if current_user.is_admin? %>
<div class="container">
  <%= link_to 'Back', users_path%>  
</div>
<% end %>
