<script>

$(document).ready(function(){
$('.edit-body-bg').animate({ opacity: 1 }, { duration: 3000 });
});


</script>

<div class="edit-body">

<div class="edit-body-bg"></div>

<div class="guest-form-card">

    <%= form_with(model: @user, class: "sign-up-container", local: true) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
        
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h1 class="edit-h1">Guest Info</h1>

      <% if current_user.is_admin? %>
     
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "form-control" %>
      
      <br>
     
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: "form-control" %>
      <br>

   

      <% else %>
      <h3 class= "name-h3"><%= current_user.full_name %> </h3>
      <br>
      <% end %>
      
      
      <%= form.label :nationality %>
      <div class="select">
      <%= form.select :nationality, [['Canadian'], ['Japanese'], ['Other']], :class => "form-control" %>
      </div>
      <br>
     
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      <br>
    
        <%= form.label :phone %>
        <%= form.text_field :phone, class: "form-control" %>
      <br>
    
   
        <%= form.label :rsvp %>
        <div class="select">
        <%= form.select :rsvp, [['No Response', 0], ['Attending', 1], ['Not Attending', 2]], :class => "form-control" %>
      </div>
      <br>
     
        <%= form.label :allergies %>
        <%= form.text_field :allergies, class: "form-control" %>
      <br>


<% if current_user.is_admin? %>
      <div class="is-admin">
      <%= form.label :is_admin %>
      <%= form.check_box :is_admin, class: "form-control" %>
    </div>
    <br>
<% end %>

      <%= button_tag(type: 'submit', class: "sign-in-btn") do %>
        Submit
      <% end %>



<% if current_user.is_admin? %>
<div class="container">
  <%= link_to 'Back', users_path%>  
</div>
<% end %>
<% end %>

</div>
</div>