

<div class='index-body'>

  <div class="guest-list-head">
    <h1 class="guest-index-h1">Guest List</h1>
    <div class="guest-list-letterhead"></div>
  </div>

  <%= link_to 'New User', new_user_path, class: 'create-user-btn' %>

  <ul class="user-index-body">
      <% @users.each do |user| %>
        <%= link_to(user_path(user.id), class: 'no-style') do %>
        <li class="small-card" id="user-info">
        <h3 class="small-h3">
          <%= user.full_name %>
        </h3>
    <br>
        <% if user.rsvp == 1 %>
          <span class="active">is Attending</span>
        <% elsif user.rsvp == 2 %>
          <span class="inactive">is Not Attending</span>
        <% else %>
          <span> No Response</span>
        <% end %>
        <br>
      </p>
      <div class="left-align">
        <% if current_user.is_admin? %>
        <p>
          <strong>User type:</strong>
          <% if user.is_admin == false %>
            Guest
          <% else %>
            Admin
          <% end %>
        </p>
        <% end %>
    
        <p>
          <strong>Nationality:</strong>
          <%= user.nationality %>
        </p>
    
        <p>
          <strong>Email:</strong>
          <%= user.email %>
        </p>
    
        <p>
          <strong>Phone:</strong>
          <%= user.phone %>
        </p>
    
        <p>
          <strong>Table:</strong>
          <%= user&.seat&.table&.number || "N/A" %>
        </p>
    
        <p>
          <strong>Seat:</strong> 
          <%= user&.seat&.table&.number || "N/A" %>
        </p>
    
        <p>
        <strong>Allergies or Special Requests:</strong>
        <%= user.allergies %>
        </p>
    
        </div>
      </li>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>