
<div class="show-user-container">
  <div class="show-card" id="user-info">
    <h1 class="edit-h1">
      <%= @user.full_name %>
    </h1>
<br>
    <% if @user.rsvp == 1 %>
      <span class="active">is</span> <h2>Attending</h2>
    <% elsif @user.rsvp == 2 %>
      <span class="inactive">is</span> <h2>Not Attending</h2>
    <% else %>
      <h2> No Response</h2>
    <% end %>
  </p>
<br>
    <% if current_user.is_admin? %>
    <p>
      <strong>User type:</strong>
      <% if @user.is_admin == false %>
        Guest
      <% else %>
        Admin
      <% end %>
    </p>
    <% end %>

    <p>
      <strong>Nationality:</strong>
      <%= @user.nationality %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @user.phone %>
    </p>

    <p>
      <strong>Table:</strong> <%= @user&.seat&.table&.number.present? ? @user&.seat&.table&.number + 1 : "N/A" %>
    </p>

    <p>
      <strong>Seat:</strong> <%= @user&.seat&.table&.number.present? ? @user&.seat&.number : "N/A" %>
    </p>

    <p>
    <strong>Allergies or Special Requests:</strong>
    </p>
    <p>
    <%= @user.allergies %>
    </p>
    <% if can? :edit, @user %>
    <br>
      <div class="text-center py-5">
        <%= link_to 'Edit', edit_user_path(@user), class: "edit-user-btn" %>
      </div>
    <%end%>
    <% if current_user.is_admin? %>
      <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-btn" %> 
    <% end %>
  </div>
</div>

