
<div class="home-wrapper">
<a href="#anchor1" class="anchor-arrow"><%= image_tag("arrow-circle-down-solid", class: "anchor-arrow2") %></a>

    <div class="timer" id="timer">
        <div class="timer" id="days"></div>
        <div class="timer" id="hours"></div>
        <div class="timer" id="minutes"></div>
        <div class="timer" id="seconds"></div>
    </div>

    <%= image_tag("polaroid2", class: "polaroid2") %>
    
    <div class="heading-ul">
            <h3 id='until'>with</h3><h1 id="mao-h1">Mao</h1>
            <h3 id='until'>and</h3><h1 id="dustin-h1">Dustin</h1>
    </div>

    <h1 id="wedding-h1">Celebration of Marriage</h1>
<div id="anchor1"></div>
    <div class="venue-wrapper"></div>
        <%= image_tag("polaroid3", class: "hotel") %>
        <div class="venue-ul">
            <div class="venue-li">
                <h3 class="venue-h3">Where:</h3>
                <a href="https://goo.gl/maps/BYwgDnmkyLL7aeRb8" class="venue-p" id="hotel-link">Cross Hotel Sapporo</a>
            </div>

            <div class="venue-li">
                <h3 class="venue-h3">When:</h3>
                <p class="venue-p">6pm June 21st, 2020</p>
            </div>

            <div class="venue-li">
                <h3 class="venue-h3">Reception:</h3>
                <a href="https://goo.gl/maps/MF7foo71AfXsFqrF9" class="venue-p" id="rec-link">Akarenga Terrace</a>
            </div>

            <div class="venue-li">
                <h3 class="venue-h3">Contact:</h3>
            </div>
                <form class="cf">
                <div class="half left cf">
                    <input type="email" id="input-email" placeholder="Email address">
                    <input type="text" id="input-subject" placeholder="Subject">
                </div>
                <div class="half right cf">
                    <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
                </div>  
                <input type="submit" value="Submit" id="input-submit">
                </form>
        </div>


        <a href="#anchor2" class="anchor-arrow2">
            <%= image_tag("arrow-circle-down-solid", class: "anchor-arrow2") %>
        </a>

    <div id="anchor2"></div>
        <%= image_tag("home-header", class: "home-footer") %>
        <h1 class="heading-h1">Looking Forward</h1>
        <h2 class="heading-h2">to seeing you!</h2>

</div>