<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" /> 
    <title>WeddingPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="lang-ja">
  <%= flash[:notice] || flash[:alert] %> 
  <% unless controller_name == "sessions" %>
  <% if user_signed_in? || @user.is_admin? %>
  <% if user_signed_in? %>
      <nav id="primary_nav">
      <a href="javascript:void(0)" id="mobile_nav" ><%= image_tag("ring", class: "menu-icon") %></a>
      <ul>
      <li><%= link_to(image_tag("user", class: "user-icon"), user_path(current_user.id)) %></li>
      <li><%= link_to "Logout", session_path, method: :delete, 
      data: {confirm: "Are you sure you want to log out?"} %> </li>
      <% else %>
      <li><%= link_to "Login", new_session_path %></li>
      <% end %>
      <li><%= link_to "Home", root_path %></li>
      <% if current_user && current_user.is_admin? %>
       <li><%= link_to "Add Guest", new_user_path %></li>
       <li><%= link_to "Guest list", users_path %></li>
      <% end %>
      <% if current_user %>
      <li><%= link_to "Edit Guest Details", edit_user_path(current_user) %></li>
      <li><%= link_to "Seating Plan", tables_path %></li>
      </ul>
    </nav>
      <% end %>
    <% end %>
<% end %>
  <div class="body-wrapper">
    <%= yield %>
  </div>
  </body>
</html>
